*{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}
.banner{
    background-image: url('../images/banner/banner3.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 808px;
    align-items: right;
}
.btn-primary{
    background: #FFFFFF;
    color: #005FAC;
    width: 150px;
    height: 45px;
    border: 0;
    border-radius: 5px;
    align-items: left;
    position: relative;
    left: 950px;
    margin-top: 20px;
}

.banner-info{
    display: flex;
    border: 0px;
    padding: 215px 230px;
}
.banner-title{
    font-weight: 500;
    font-size: 65px;
    width: 525px;
    color: #FFFFFF;
    text-align: right;
    padding: 0px 575px;
    margin-bottom: 30px;
}
.banner-description{
    color: #FFFFFF;
    padding: 0px 575px;
    text-align: right;

}
/* Second Page*/
.failore-container{
    display: flex;
    gap: 85px;
    align-items: center;
    justify-content: center;
    margin-top: 130px;
}
.failure-title{
    font-weight: 700;
    font-size: 40px;
    width: 288px;
    height: 94px;
    color: #151414;
    margin-bottom: 25px;


}
.failure-description{
    color: #444343;
    width: 416px;
    height: 104px;
    margin-bottom: 15px;
}
div ul{
    list-style: none;
    text-align: left;
    margin-top: 15px;
}
div li{
    margin-bottom: 8px;
    width: 415px;
    height: 26px;
    position: relative;
    right: 35px;
    
}
li::before {
    content: "✔";
    color: rgb(128, 45, 0);
    font-size: larger;
    padding-right: 5px;
  }

.section-title{
    text-align: center;
    font-weight: 700;
    margin-top: 125px;
    margin-bottom: 50px;
}
.skills-container{
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: space-around;
    padding: 0px 230px;
}
.skill{
    background: #FFFFFF;
    text-align: center;

}
.skill-title{
    font-weight: 700;
    font-size: 20px;
    color: #181818;
    margin-top: 30px;
    margin-bottom: 20px;
}
.skill-description{
    color: #757575;
}
.watch-banner{
    padding: 0px 150px;
    margin-top: 130px;
    margin-bottom: 130px;
}
.contact-page{
    background: #151414;
    display: flex;
    gap: 125px;
}
/* Contact page */
.contact-page{
    display: flex;
    gap: 5px;
    justify-content: space-between;
    text-align: center;
    position: left;
}

.contsct-title{
    color: #F8F8F8;
    font-weight: 700;
    font-size: 45px;
    padding: 30px 230px;
    text-align: left;
}
.contsct-description{
    color: #FFFFFF;
    width: 485px;
    padding: 0px 230px;
    margin-top: 15px;
    margin-bottom: 25px;
    text-align: left;
    
}
.contact-email{
    color: #FFFFFF;
    padding: 0px 230px;
    margin-bottom: 25px;
    text-align: left;
}
.contact-phone{
    color: #FFFFFF;
    padding: 0px 230px;
    text-align: left;
}

/** Second Part about Contact*/
.contsct-subscribe{
    text-align: left;
    display: flex;
    position: relative;
    right: 75px;

}
.contsct-subscribe-title{
    font-weight: 600;
    font-size: 25px;
    color: #FFFFFF;
    position: relative;
    right: 135px;
    margin-top: 65px;
    margin-bottom: 15px;
}
.contsct-subscribe-email{
    font-weight: 600;
    font-size: 25px;
    font-weight: 400;
    font-size: 18px;
    position: relative;
    right: 135px;
    margin-top: 5px;
    margin-bottom: 30px;
    width: 325px;
    height: 64px;
    background: #151414;
    border-color: #FFFFFF;
    border-radius: 5px;
    text-align: left;
}
.subscribe-btn{
    width: 170.11px;
    height: 64px;
    background: #005FAC;
    border-radius: 8px;
    border: 0px;
    position: relative;
    right: 135px;
}
.contact a{
    text-decoration: none;
    text-align: left;
    position: relative;
    right: 165px;
}
.banner-card{
    position: relative;

}
.banner-card img{
    max-width: 100%;
    height: auto;
}
.banner-text{
    position: absolute;
    right: 800px;
    color: #FFFFFF;
    top: 25%;
    font-size: 15px;
    margin-right: 85px;
    margin-top: 70px;
}
.subscribe-btn1{
    width: 170.11px;
    height: 64px;
    background: white;
    color: #005FAC;
    border-radius: 8px;
    border: 0px;
    position: relative;
    left: 5px;
    margin-top: 25px;

}